body{
    color: #82a5ca;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}
#hero{
    background-image: url("Image/galaxy.gif");
    background-size: cover;
    padding: 10px 0px 400px 0px;
}
#title{
    text-shadow: 0px 0px 5px black;
}
.expolor-text{
    text-align: center;
    margin-top: 50px;
}
.btn{
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
}
.underline{
    border-bottom: 4px solid white;
}
#logo{
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}